.continer{
    display: flex;
    margin: auto;
    justify-content: space-between;
    gap:2%;
    
}

.claster1{
    position: relative;
    box-shadow: 10px 10px 10px 10px rgba(192, 189, 189, 0.479) ;

}

.list{
    display: inline-block;
    display: flex;
    gap:30px;
    list-style: none;
    justify-content:flex-start;
    }
    .iconcolor{
        color: rgba(0, 0, 0, 0.705);
    }


    .cirimg{
        position: absolute;
        bottom: 110px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        left:440px; 
        border: 3px solid white;
            
    }


.bottom1{
     position: absolute;
     top:60px;
     LEFT: 10px;
     border: 3px solid rgba(255, 255, 255, 0.562);
     color:white;
}


.items{
 padding:  0px 10px;

}
.line{
border:1px solid rgb(10, 10, 10);
width: 4%;
margin-left: 1px;
}






