*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/*   
.sec1  
{
  margin: 0% 20%;
}


.continer1{
         display: inline-block;
         width: 50%;


}

.div-aline{
             display: inline-block;
              padding-left: 10%;

}

.width {
    font-size: 50px;
    padding: 0 20px ;
}
.sec2{
               display: inline-block;

  background-color: rgb(238, 237, 237);
  margin: 0% 20%;  display: flex;
  gap: 30px;
}
.sub1{
               display: inline-block;

  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1px;
  margin-top: 10% ;
  font-size: -webkit-xxx-large;
}
.sub2{
display: inline-block;
margin-left: 30%;

}
.sub3{
               display: inline-block;

margin-left: 50%;
width: 70%;
}
.sr{
    width: 30%;
    padding-left: 50%;
}
.large{
  width: 80%;
  margin:auto;
}
.d-flex{
  display: flex;
}
.widthh{
  width :30%;
} */
 .background-color{
  background-color: rgb(15, 15, 15);
  padding: 1% 10%;

 }
 .color{
  color: aliceblue;
  text-decoration: none;
 }
 .continer{
      display: flex;
      justify-content :space-between;
      align-items: center;
      width: 100%;

 }
 
 .display-flex{
    display: flex;
    width: 40%;
   
  

 }
 .list{
        
        display: flex;
        justify-content :center;
        list-style: none;
        align-items: center;
        gap: 40px;
        color: aliceblue;


 }
 .ahover:hover {
    color: blue;
 }
 .display-content{
   display: flex;
   justify-content: end;
   width: 50%;
 }
 .align-item-center{
  align-items: center;
 }
 .section{
  height: 500px;
 }
 
 .bg-img{
  background-image: url(hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: 100% 150%;

 }
 
 .continer1{
  margin: auto;
   width: 80%;
   display: flex;
   justify-content :space-between;
   /* justify-content:center; */
   align-items: center center;
   gap: 30px;
   margin-top: 50px;
   

 }
 .part1{
  display: inline-block;
  width: 60%;

 }
 .head{
  display: inline-block;
    margin-bottom: 4%;
    

 }
 .ar{
  color:white ;
   display: inline-block

 }
 .it{
   color: chocolate;
  display: inline-block;
  font-weight:100;

 }

 .h22{
   margin-bottom: 4%;
   color: white;

 }
 

 
 .h1{
  margin-bottom: 4%;
  color: rgb(12, 12, 12);
 }
 .hr1{
  margin-bottom: 4%;
  width: 10%;
  border: 1px solid chocolate;
 }
 .par{
    margin-bottom: 4%;
    color: white;
 }
 .botton{
  border: 2px solid white;
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 5px;
  
 }
 .table{
  border:none;
  background-color: rgb(240, 235, 235);
    padding: 10px;
    width: 350px;
 }
 .input{
    display: block;
    border: none;
    border-bottom: solid 1px black;
    width: 100%;
    padding: 3%;
    margin: 6% 2%;
 }
 .input:focus{
  outline: none;

 }
 .form{
  width: 350px;
  background:white;
  padding-right: 15px;
  text-align: center;
  margin: 10px 0px;

 }
 .free{
  color: chocolate;
 }
 .get{
  color: white;
  padding: 10px;
  width: 350px;
  border: none;
  background-color: chocolate;
  margin: 25px 0px 0px 0px;
 }
 .bg{
  background-color: rgba(0, 0, 0, 0.562);
    width: 100%;
    height: 500px;
    /* display: flex; */
     overflow: auto;
 }
 .continer2{
  margin: auto;
   width: 80%;
   display: flex;
   justify-content :space-between;
   /* justify-content:center; */
   align-items: center;
 }
 .div1sec2{
    width: 50%;

 }
 .prg{
  color: rgb(185, 185, 185);
 }
 .icon{
  display: flex;
  justify-content: right;
  width: 50%;
  gap: 10%;

 }
 .iconwidth1{
  font-size: xx-large;
  transition: all 0.3s;
  cursor: pointer;
  
 }
 .iconwidth:hover{
  color: chocolate;
 }
 


 .continer3{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

.section-three-r {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-reflect: below -220px linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  margin-bottom: 10%;
}
.tabs{
    margin-top: 2%;
    list-style: none;
    display: flex;
    flex-direction: column;
    
}
    .button3{
        padding:30px;
        background-color:orange;
        color: white;
        border: none;
          

}
    
    .button4{
       padding:30px;
       background-color: black;
       color: white;
       border: none;
}
    .button5{
        padding:30px;
        background-color: black;
        color: white;
        border: none;
        margin: 1px 0px;
    }
    .content{
        display: inline-block;
        margin-top: 50px;

    }
    
    .button6{
        padding:15px;
        background-color: orange;
        color: white;
        border: none;
        margin-top: 4%;
        cursor: pointer;

    }
    .p1{
       margin-top: 4%;
    }


    .continer4{
        margin: 20px auto;
        width: 80%;

    }
    .item3{
        text-align: center;
        width: 100%;


    }
    .newh2{
        margin: 10% 0% 0% 0%;
    }
    .rh{
        border: 1px solid orange;
        margin: 1% 46%;
        width: 7%;
    }
    .p3{
        margin: 1% ;
        color: rgba(75, 74, 74, 0.764);  
   }
   .cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 50px;
   }
   .card1 {
    width: 30%;
    padding: 20px;
    display: inline-block;
    text-align: center;

   }
   .card2{
    width: 30%;
    padding: 20px;
    display: inline-block;
    text-align: center;

   }
   .card3{
    width: 30%;
    padding: 20px;
    display: inline-block;
    text-align: center;
   }
  .iconwidth{
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    color: orange;
    border-radius: 50%;
    background-color: white;
    border-color: orange;
  }
  


  .continer5{
    margin: auto;
    width: 80%;
    padding-top: 2px;
  /* background-color: rgb(225, 0, 255); */
  }


  
  .LISTES{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
            /* background-color: aqua; */
    gap: 5%;

   
  }
 
  /* .LESTA1{
    background-color: tomato;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    align-items: center;

    

  }
   */
  .p4{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.853);
    color: white;
    text-align: center;
    margin-bottom: 1px;
  }
  .p5{
    font-size:xx-large;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.853);
    color: white;
    text-align: center;
  }
  .p6{
    font-size:small;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.853);
    color: rgba(255, 255, 255, 0.651);
    text-align: center;
    padding-bottom: 5%;
  }
 .form2{
        width: 100%;
        background-color: white;
        color: rgba(211, 211, 211, 0.185);
        margin-bottom: 20%;
      }
      .input1{
        width: 100%;
        text-align: center;
        border: none;
        border-bottom: 1px solid rgb(10, 10, 10);
        align-items: center;
        
      }
      .LESTA2{
        display: flex;
        flex-direction: column;
        margin-top: 5%;

      }
      .button7{
                width: 100%;
                background-color: orange;
                color: white;



      }
      /* .LESTA3{
        display: flex;
        flex-direction: column;
        margin-top: 20%;
        align-items: center;

      } */



      .slice1{

      margin-top: 10%;
      }


         .slice3{

      margin-top: 10%;
      }
      

      

      .section-tan {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 7% 10%;
}

.section-tan hr {
  width: 10%;
  padding: 1px;
  border: none;
  background-color: rgb(226, 118, 41);
  margin-bottom: 3%;
}

.section-tan-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-tan-inputs {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  gap: 10px;
}

.section-tan-inputs input {
  border: none;
  border-bottom: 1px solid lightgray;
  padding-bottom: 7px;
  color: chocolate;
}

.section-tan-inputs input::placeholder {
  color: lightgray;
}

.section-tan-textarea {
  width: 50%;
  border: none;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.section-tan-textarea::placeholder {
  color: lightgray;
}
.title-section-nane {
  margin-bottom: 3%;
  font-weight: 200;
  text-transform: uppercase;
}
.pra-section-nane {
  margin-bottom: 3%;
  font-weight: 100;
  font-size: small;
  color: rgb(207, 207, 207);
}
.pra-section-nane {
  margin-bottom: 3%;
  font-weight: 100;
  font-size: small;
  color: rgb(207, 207, 207);
}
.footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1% 10% 1% 10%;
  font-size: small;
  gap: 10px;
}
.footer p {
  font-size: x-small;
  color: rgb(168, 167, 167);
}


.bg-image{

  background-color: rgba(211, 211, 211, 0.452);
}